services:
  schedule_tracker:
    build: .
    container_name: lucos_schedule_tracker
    ports: 
      - $PORT:$PORT
    environment:
      - PORT
    image: lucas42/lucos_schedule_tracker
    volumes:
      - "db:/var/lib/schedule_tracker/"
    restart: always

volumes:
  db: